@import url('https://fonts.googleapis.com/css?family=Rochester');

h1 {
  font-family: 'Rochester', cursive;
  text-align: center;
  font-size: 30pt;
  background-color: lightsteelblue;
}

img {
  width: 75%;
  height: auto;
  align-items: center;
}

body {
  background: lightsteelblue;
  text-align: center;
}
