@import url('https://fonts.googleapis.com/css?family=Nova+Flat');

@font-face {
  font-family: Copperplate;
  src: url('fonts/Copperplate Gothic Light Regular.ttf');
}

a:link {
  color: black;
}

a:visited {
  color: #4b0067;
}

a:hover {
  color: #a96ac0;
}

a:active {
  color: black;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

li {
  padding-right: 50px;
}

h1 {
  background-color: Darkgray;
  font-family: 'Copperplate', sans-serif;
  font-size: 48px;
  color: purple;
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
  text-align: center;
}

header {
  background-color: gray;
  color: black;
  font-size: 32px;
  text-align: center;
}

body {
  background-color: gray;
}

p {
  font-family: 'Nova Flat', cursive;
  font-size: 22px;
  color: purple;
  border: 1px solid black;
  background-color: lightgray;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

footer {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
